# Środowisko
.venv/
venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

# IDE
.idea/
.vscode/

# Dane DaTSCAN
data/
images/
train_images/
test_images/
*.nii
*.nii.gz

# Modele i duże wyniki
*.pth
*.pt
*.ckpt
*.pkl
*.joblib
outputs/
submissions/

# MLflow
mlruns/
mlartifacts/

# Pliki systemowe
.DS_Store
Thumbs.db

# Dane konkursowe
code_execution/data_origin/

# Paczki submissionów
code_execution/*.zip

# Predykcje wykorzystywane do meta-modelu
meta_train_predictions*.csv