# Środowisko
.venv/
venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

# IDE
.idea/
.vscode/

# Dane DaTSCAN
data/
images/
train_images/
test_images/
*.nii
*.nii.gz

# Modele i duże wyniki
*.pth
*.pt
*.ckpt
*.pkl
*.joblib
outputs/
submissions/

# MLflow
mlruns/
mlartifacts/

# Pliki systemowe
.DS_Store
Thumbs.db