# Virtual environment
.venv/
venv/

# PyCharm
.idea/

# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# System
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env

# Data
data/

# Trained models
models/

# Output
outputs/
submissions/